.amButton
{
    display: block;
    padding: 8px 18px 10px 45px;
    
    -moz-border-radius-bottomleft: 10px !important;
    -moz-border-radius-bottomright: 10px !important;
    -moz-border-radius-topleft: 10px !important;
    -moz-border-radius-topright: 10px !important;

    -webkit-border-top-left-radius: 10px !important;
    -webkit-border-top-right-radius: 10px !important;
    -webkit-border-bottom-left-radius: 10px !important;
    -webkit-border-bottom-right-radius: 10px !important;

    cursor: pointer;

    /* keeping background in the skeletop assuming there always will be the same bg */
    /* background: transparent url(/images/themes/blue_silver/am_button/bg.png) repeat-x left top; */
    border: 1px solid #efe8da;
    font-family: georgia;
    font-size: 1.1em;
}
    .hasAmButtonTheme_GreenOK
    {
        background: #f6f6f6 url(/images/themes/blue_silver/am_button/button_tick.png) no-repeat 10px 7px;
        color: #868782;
    }

    .hasAmButtonTheme_GreenOK:hover
    {
        background-color: #FFF;
    }

    .hasAmButtonTheme_BlueList
    {
        background: #f6f6f6 url(/images/themes/blue_silver/am_button/button_list.png) no-repeat 10px 7px;
        color: #868782;
    }

    .hasAmButtonTheme_BlueList:hover
    {
        background-color: #FFF;
    }

    .hasAmButtonTheme_RedCancel
    {
        background: #f6f6f6 url(/images/themes/blue_silver/notice_red.png) no-repeat 10px 7px;
    }

    .hasAmButtonTheme_RedCancel:hover
    {
        background-color: #FFF;
    }



/* Buttons (Beanstalk)
------------------------------ */
	h2 a.button {
		float: right;
		margin: -.5em 0 0 .5em !important;
		padding: 0 !important;
		font-size: 12px;
	}
	h2 a.link-button {
		float: right;
		color: #F70;
		font-weight: bold;
		font-size: .9em;
	}


a.button {
	display: block;
	float: left;
	height: 26px;
	margin: .5em 0;
	padding: 0;
	background: url(../images/btn.png) no-repeat 0 0;
	color: #445 !important;
	font: normal 11px 'Lucida Grande', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
	text-decoration: none !important;
	text-shadow: #FFF 1px 1px 0;
	cursor: pointer;
	overflow: hidden;
}
a.button:hover {
	background-position: 0 -26px;
	color: #223;
	text-decoration: none;
}
a.button:active {
	background-position: 0 -52px;
	color: #000;
	text-decoration: none;
}
	a.button span {
		float: left;
		height: 26px;
		margin-left: 13px;
		padding: 6px 13px 6px 0;
		background: url(../images/btn.png) no-repeat 100% -104px;
		font-size: 100%;
	}
	a.button:hover span {
		background-position: 100% -130px;
	}
	a.button:active span {
		background-position: 100% -156px;
	}
	a.button span b.icon {
		position: relative;
		float: left;
		width: 16px;
		height: 16px;
		margin: 0 3px 0 -4px;
		background-position: 0 0;
		background-repeat: no-repeat;
	}


/* Icons */

.manage-team {
	margin-top: 1.6em !important;
}
	.manage-team b.icon,
	.but-go b.icon {
		margin-left: -5px !important;
		background-image: url(../images/i-arrow.png);
	}


.repo-create {
	margin: 1em 0;
	overflow: hidden;
}
.user-add {
	margin: 0;
	padding: .5em .5em .5em 28px;
	background-color: #F9F9FF;
	overflow: hidden;
}
	.repo-create a.button,
	.user-add a.button {
		font-weight: bold !important;
	}
	.repo-create b.icon,
	.user-add b.icon {
		background-image: url(../images/i-create.gif);
	}


/* Upgrade and Downgrade Buttons */

a.button.btn-upgrade,
a.button.btn-downgrade {
	width: 100px;
}
	a.button.btn-upgrade b.icon,
	a.button.btn-downgrade b.icon {
		width: 10px;
		height: 12px;
		margin-right: 0;
	}
	a.button.btn-upgrade b.icon   { background-image: url(../images/i-uarr.gif); }
	a.button.btn-downgrade b.icon { background-image: url(../images/i-darr.gif); }


/* Disabled button */

a.button.disabled {
	background-position: 0 -78px;
	color: #AAA;
	text-decoration: none;
	cursor: default;
}
	a.button.disabled span {
		background-position: 100% -182px;
	}
	a.button.disabled span b.icon {
		opacity: .3;
	}