/* CSS for login container/gereric form */
.formContainer
{
}

.formContainer h3
{
	padding: 8px 7px;
	text-align: left;
	font-size: 1.2em;
}

.formContainer h4
{
	padding: 8px 7px;
	text-align: left;
	font-size: 1em;
}

.formContainer  ul.error_list
{
}

.formContainer  ul.error_list li, #mainContainer .formContainer  ul.error_list li
{
    padding: 10px 22px 10px 45px;
    background: #fbe9e7 url(/images/themes/blue_silver/notice_red.png) no-repeat 10px 7px;
    border: 1px solid #facecd;
    color: #df9f84;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.formContainer  legend
{
	font-size: 100%;
	margin: 0;
	padding: 0.25em 0.65em;
	position: relative;
}

.formContainer  ul
{	
}

.formContainer  ul li
{
	padding: 2px 0 7px;
	overflow: hidden;
}

.formContainer  ul li label
{
	font-family: Trebuchet MS;
	font-size: 1em;
	float: left;
	text-align: right;
	padding: 3px 10px 0px;
	width: 30%;
        color: #000;
}

.formContainer  ul li input, .formContainer  ul li textarea, .formContainer  ul li span.input input, .formContainer  ul li select
{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding: 2px 1px;

    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.formContainer  ul li input:focus, .formContainer  ul li select:focus, .formContainer  ul li textarea:focus
{
    border: 1px solid #349bbc !important;
}

.formContainer  ul li input
{
    width: 50%;
    float: left;
}

.formContainer  ul li input[type="checkbox"]
{
    width: auto;
    margin-top: 7px;
}

.formContainer  ul li textarea
{
    width: 50%;
}

.formContainer  ul li span.amKeyboardSwitcherContainer input
{
    float: none;
}

.formContainer  ul li span.input
{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    float: left;
    padding: 6px 1px;
    width: 50%;
    color: #606060;
}

.formContainer  ul li input.noFloat
{
	float: none;
	width: auto;
}

.formContainer  ul li.actionsContainer
{
	padding-right: 10px;
}

.formContainer  ul li.actionsContainer a
{
	float: right;
	font-size: .9em;
	width: 40%;
	padding: 0px 5px;
	color: #FFF;
	text-decoration: none;
}

.formContainer  ul li.actionsContainer input
{
	float: right;
	border: none;
	padding: 0;
	font-family: Trebuchet MS;
	font-size: .9em;
	color: #FFF;
	text-decoration: none;
}

.formContainer ul.formOptions
{
	margin-top: 15px;
}

.formContainer ul.formOptions li
{
	padding: 5px;
	border-top: 1px solid #CEC6B6;
}

.formContainer ul.formOptions li a
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .9em;
}

.formContainer ul.formOptions li a:hover
{
}

.formContainer .coolDataGrid ul li label
{
	display: block;
	padding: 7px 10px;
	width: 34%;
	float: left;
}

.formContainer .coolDataGrid ul li span
{
	display: block;
	padding: 7px 10px;
	width: 55%;
	float: left;
}


	/* Theme for form container - Yellow */
	.formContainerTheme_Yellow
	{
		background: transparent url(/images/form_container/themes/yellow/form_container_bg_yellow_repeat.png) repeat-x left top;
		border: 1px solid #E7CC8B;
	}
	
	.formContainerTheme_Yellow h3
	{
		background-color: #E3C06D;
	}
	
	.formContainerTheme_Yellow h4
	{
		background-color: #E3C06D;
	}
	
	.formContainerTheme_Yellow 
	{
		border:	1px solid #D5D9E0;
	}
	
	.formContainerTheme_Yellow  legend
	{
		background-color: #E3C06D;
		color: #000;
		text-shadow: 1px 1px 0 #FFF;
	}
	
	.formContainerTheme_Yellow ul.formOptions li a
	{
		color: #FFF;
	}
	
	.formContainerTheme_Yellow ul.formOptions li a:hover
	{
		color:	#FFF;
		font-weight:	bolder;
		text-shadow:	1px 1px 1px #7B7872;
	}	
	
	.formContainerTheme_Yellow  ul.error_list li
	{
		background-color: #FFD5D5;
		padding: 1px 3px;
		border: 1px solid #FFA5A5;
		margin: 3px 0;
	}
	
	.formContainerTheme_Yellow  legend
	{
		color: #000;
		font-weight: bolder;
	}
	
	.formContainerTheme_Yellow  input
	{
		border-color: #DBCBA8;
	}
	
	
	/* Theme for form container - Blue */
	.formContainerTheme_Blue
	{
		background: transparent url(/images/form_container/themes/blue/form_container_bg_blue_repeat.png) repeat-x left top;
		border: 1px solid #203F99;
	}
	
	.formContainerTheme_Blue h3, div.crcTheme_Sky .coolRoundedContainerInner .coolRoundedContainerMain .formContainerTheme_Blue h3
	{
		background-color: #203F99;
		color: #000;
	}
	
	.formContainerTheme_Blue h4
	{
		background-color: #203F99;
		color: #000;
	}
	
	.formContainerTheme_Blue ul.formOptions li a
	{
		color: #FFF;
	}
	
	.formContainerTheme_Blue ul.formOptions li a:hover
	{
		color:	#FFF;
		font-weight:	bolder;
		text-shadow:	1px 1px 1px #7B7872;
	}	
	
	.formContainerTheme_Blue  legend
	{
		background-color: #203F99;
		color: 000;
		text-shadow: 1px 1px 0 #000;
		font-weight: bolder;
	}
	
	.formContainerTheme_Blue  input
	{
		border-color: #203F99;
	}
	
	/* formContainerTheme_blue can also has cool datagrid in order to show data in grid view */
	.formContainerTheme_Blue .coolDataGrid ul li label
	{
		background-color: #C1E2FB;
		color: #203F99;
	}
	
	.formContainerTheme_Blue .coolDataGrid ul li span
	{
		background-color: #203F99;
		color: #000;
		text-shadow: 1px 1px 0 #000;
	}
	.formContainerTheme_Blue .coolDataGrid ul li span a
	{
		color: #000;
	}
	
	.formContainerTheme_Blue .coolDataGrid ul li.highlighted span
	{
		background-color: #A9000A;
	}

.form_actions
{
    overflow: hidden;
    margin-left: 30%;
    width: 50%;
}

.form_actions .preActions
{
    float: left;
}

.form_actions .nextActions
{
    float: right;
}