/* CSS for coolBevelLinedNav - main component */
.coolBevelLinedNav
{
	padding: 10px 8px;
} 
 
.coolBevelLinedNav ul
{
	padding-bottom: 5px;
} 

.coolBevelLinedNav ul li
{
	padding: 5px 6px;
}

.coolBevelLinedNav ul li a
{
	display: block;
	padding: 6px 6px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-align: right;
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 18px;
	margin-right: 5px;
	font-size: .9em;
}

.coolBevelLinedNav_LeftAligned ul li a
{
	text-align: left;
	background-position: left center;
	padding-left: 18px;
	margin-left: 5px;
}
	/* Navy theme for coolBevelLinedNav - start */
	.hasCoolBevelLinedNavTheme_Navy
	{
		background-color: #203F99;
	}
	
	.hasCoolBevelLinedNavTheme_Navy ul
	{
		background: #203F99 url(/images/cool_bevel_lined_nav/themes/navy/cool_bavel_lined_nav_navy_bg_repeat.png) repeat-x left bottom;
	}
	
	.hasCoolBevelLinedNavTheme_Navy ul li
	{
		background: transparent url(/images/cool_bevel_lined_nav/themes/navy/cool_bavel_lined_nav_navy_bg_repeat.png) repeat-x left top;
	}
	
	.hasCoolBevelLinedNavTheme_Navy ul li a
	{
		color: #FFFFFF;
		font-weight: bolder;
		background-image: url(/images/cool_bevel_lined_nav/themes/navy/cool_bavel_lined_nav_navy_list_style_type.png);
		background-color: transparent;
	}
	
	.hasCoolBevelLinedNavTheme_Navy ul li a:hover
	{
		text-shadow: 1px 1px 1px #000000;
		color: #A4D5FC;
	}
	/* Navy theme for coolBevelLinedNav - end */
	
	/* Dark_Navy theme for coolBevelLinedNav - start */
	.hasCoolBevelLinedNavTheme_Dark_Navy
	{
		background-color: #203F99;
	}
	
	.hasCoolBevelLinedNavTheme_Dark_Navy ul
	{
		background: #203F99 url(/images/cool_bevel_lined_nav/themes/dark_navy/cool_bavel_lined_nav_dark_navy_bg_repeat.png) repeat-x left bottom;
	}
	
	.hasCoolBevelLinedNavTheme_Dark_Navy ul li
	{
		background: transparent url(/images/cool_bevel_lined_nav/themes/dark_navy/cool_bavel_lined_nav_dark_navy_bg_repeat.png) repeat-x left top;
	}
	
	.hasCoolBevelLinedNavTheme_Dark_Navy ul li a
	{
		color: #FFFFFF;
		font-weight: bolder;
		background-image: url(/images/cool_bevel_lined_nav/themes/dark_navy/cool_bavel_lined_nav_dark_navy_list_style_type.png);
		background-color: transparent;
	}
	
	.hasCoolBevelLinedNavTheme_Dark_Navy ul li a:hover
	{
		text-shadow: 1px 1px 1px #000000;
		color: #A4D5FC;
	}
	/* Dark_Navy theme for coolBevelLinedNav - end */
	
	
	/* Transparent theme for coolBevelLinedNav - start */
	.hasCoolBevelLinedNavTheme_Transparent
	{
		background-color: transparent;
	}
	
	.hasCoolBevelLinedNavTheme_Transparent ul
	{
	}
	
	.hasCoolBevelLinedNavTheme_Transparent li
	{
	}
	
	.hasCoolBevelLinedNavTheme_Transparent ul li a
	{
		color: #FFFFFF;
		font-weight: bolder;
		background-image: url(/images/cool_bevel_lined_nav/themes/navy/cool_bavel_lined_nav_navy_list_style_type.png);
		background-color: transparent;
	}
	
	.hasCoolBevelLinedNavTheme_Transparent ul li a:hover
	{
		text-shadow: 1px 1px 1px #000000;
		color: #A4D5FC;
	}
	/* Navy theme for coolBevelLinedNav - end */





