@container-bg:          #6db1c5;

@header-bg:             #499eb7;
@header-color:          #fefefe;
@header-border-color:   #56abc4;
@header-border-width:   3px;
@header-font-size:      1.2em;
@time-color:            #110f0f;

@body-bg:               #efeded url(/images/slider/news_bg.png) repeat-x top left;
@body-color:            #000;

@container-width:       940px;
@container-height:      241px;
@slider-width:          685px;
/********************************************************
 *Easy slider
 *******************************************************/
.Slider_mainContainer
{
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: @container-width;           /* full possible width */
    height: @container-height;
    background-color: @container-bg;
    padding: 0 5px 5px 0px;

    .Slider_Content
    {
        background: transparent;
        margin-bottom: 2em;
        height: @container-height;

        .Slider_slider
        {
                background: transparent;
                float: left;
                width: @slider-width;
                height: @container-height;

                ul, li
                {
                        background: transparent;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                }

                li
                {
                    /*
                    define width and height of list item (slide)
                    entire slider area will adjust according to the parameters provided here
                    */
                    width: @slider-width;
                    height: @container-height;
                    overflow: hidden;
                }

                li h2
                {
                    background-color: @header-bg;
                    padding: 5px;
                    color: @header-color;
                    font-size: @header-font-size;

                    a
                    {
                        color: @header-color;
                        text-decoration: none;
                    }
                }

                li p
                {
                    background: @body-bg;
                    color: @body-color;
                    padding: 5px;
                    overflow: hidden;
                }

                li p img
                {
                    float: left;
                    padding-right: 5px;
                }
        }

    }
}




#prevBtn, #nextBtn
{
    display: block;
    width: 30px;
    height: 77px;
    position: absolute;
    left: -30px;
    top: 71px;
    z-index: 1000;
}

#nextBtn
{
    left:696px;
}

#prevBtn a, #nextBtn a
{
    display:block;
    position:relative;
    width:30px;
    height:77px;
    background:url(../images/btn_prev.gif) no-repeat 0 0;
}

#nextBtn a
{
    background:url(../images/btn_next.gif) no-repeat 0 0;
}


/* numeric controls */

ol#controls
{
    padding: 0;
    margin: 0;

    float: right;
    width: 244px;

    overflow: auto;
    height: 241px;
}

ol#controls li
{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 35px;
}

ol#controls li a
{
    display: block;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    background: #DAF3F8;
    color: #555;
    padding: 0 10px;
    text-decoration: none;
    overflow: hidden;
}

ol#controls li.current a
{
    background: #5DC9E1;
    color: #fff;
}
