.Slider_mainContainer {
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 940px;
  height: 241px;
  background-color: #6db1c5;
  padding: 0 5px 5px 0px;
}
.Slider_mainContainer .Slider_Content {
  background: transparent;
  margin-bottom: 2em;
  height: 241px;
}
.Slider_mainContainer .Slider_Content .Slider_slider {
  background: transparent;
  float: left;
  width: 685px;
  height: 241px;
}
.Slider_mainContainer .Slider_Content .Slider_slider ul {
  background: transparent;
  margin: 0;
  padding: 0;
  list-style: none;
}
.Slider_mainContainer .Slider_Content .Slider_slider li {
  background: transparent;
  margin: 0;
  padding: 0;
  list-style: none;
}
.Slider_mainContainer .Slider_Content .Slider_slider li {
  width: 685px;
  height: 241px;
  overflow: hidden;
}
.Slider_mainContainer .Slider_Content .Slider_slider li h2 {
  background-color: #499eb7;
  padding: 5px;
  color: #fefefe;
  font-size: 1.2em;
}
.Slider_mainContainer .Slider_Content .Slider_slider li h2 a {
  color: #fefefe;
  text-decoration: none;
}
.Slider_mainContainer .Slider_Content .Slider_slider li p {
  background: #efeded url(/images/slider/news_bg.png) repeat-x top left;
  color: #000000;
  padding: 5px;
  overflow: hidden;
}
.Slider_mainContainer .Slider_Content .Slider_slider li p img {
  float: left;
  padding-right: 5px;
}
#prevBtn, #nextBtn {
  display: block;
  width: 30px;
  height: 77px;
  position: absolute;
  left: -30px;
  top: 71px;
  z-index: 1000;
}
#nextBtn { left: 696px; }
#prevBtn a {
  display: block;
  position: relative;
  width: 30px;
  height: 77px;
  background: url(../images/btn_prev.gif) no-repeat 0 0;
}
#nextBtn a {
  display: block;
  position: relative;
  width: 30px;
  height: 77px;
  background: url(../images/btn_prev.gif) no-repeat 0 0;
}
#nextBtn a { background: url(../images/btn_next.gif) no-repeat 0 0; }
ol#controls {
  padding: 0;
  margin: 0;
  float: right;
  width: 244px;
  overflow: auto;
  height: 241px;
}
ol#controls li {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 35px;
}
ol#controls li a {
  display: block;
  height: 35px;
  line-height: 35px;
  border: 1px solid #cccccc;
  background: #daf3f8;
  color: #555555;
  padding: 0 10px;
  text-decoration: none;
  overflow: hidden;
}
ol#controls li.current a {
  background: #5dc9e1;
  color: #ffffff;
}
