/* Reset
------------------------------ */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	background-color: transparent;
	font-size: 100%;
	vertical-align: baseline;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Global Defaults
------------------------------ */

html, body {
}

a         { color: #36C; text-decoration: none; }
a:hover   { text-decoration: underline; }

*
{
    margin: 0;
    padding: 0;
}
body
{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Arial;
}

    .hasBodyTheme_BlueSilver
    {
        /*background: #FFF url(/images/themes/blue_silver/body_bg_silver.png) repeat;*/
        background-color: #FFF;
        
    }

.clear-fix  {
    clear: both;
}

.isFloated_Right
{
    float: right;
}

.isFloated_Left
{
    float: left;
}

.hasMarginTop_15
{
    margin-top: 15px;
}

.hasMarginTop_10
{
    margin-top: 10px;
}

/****************************************************
* Header Content CSS
****************************************************/
/* header bar */
#headerBar { height: 8px; }
    /* BlueSilver Theme for headerBar */
    .hasHeaderBarTheme_BlueSilver
    {
        background: #23376F;
    }

#header
{
    height: 170px;
    padding: 0px 0 5px 0;
}
    /* BlueSilver theme for header */
    .hasHeaderTheme_BlueSilver
    {
        background: #f7f7f7 url(/images/themes/blue_silver/header_bg.png) repeat-x left top;
    }

    .hasHeaderTheme_BlueSilver h1, .hasHeaderTheme_BlueSilver h2, .hasHeaderTheme_BlueSilver h3, .hasHeaderTheme_BlueSilver h4, .hasHeaderTheme_BlueSilver h5, .hasHeaderTheme_BlueSilver h6, .hasHeaderTheme_BlueSilver a
    {
        color: #000;
    }

    .hasHeaderTheme_BlueSilver h2.locationSelectorTitle
    {
        text-align: center;
        font-family: georgia, verdana;
        font-size: 15px;
        font-weight: normal;
        color: #333;
        padding-bottom: 5px;
    }

    .hasHeaderTheme_BlueSilver select
    {
        border: 1px solid #97A0B8;
        background: transparent url(/images/themes/blue_silver/blue_noise_bg.png) repeat-x left top;
    }

    /* for location selector component */
    .hasHeaderTheme_BlueSilver select.locationSelector {
        padding: 3px 3px;
        width: 100%;
        color: #FFF;
        font-size: 1em;
    }

    .hasHeaderTheme_BlueSilver select.locationSelector option{
        border-bottom: 1px solid #8791AC;
        background-color: #23376F;
        padding: 2px;
    }

#header-inner
{
    position: relative;
}

#logo-title /* Wrapper for logo, website name, and slogan */
{
    width: 350px;
    display: block;
    margin: 0 auto;
}

#logo /* Wrapper for logo */
{
    margin: 0 10px 0 0;
    padding: 0;
}

#logo-image /* The actual logo image */
{}

h1#site-name, div#site-name /* The name of the website */
{
    font-size: 2.5em;
    line-height: 1.3em;
    text-align: center;
}

#site-name a:link,
#site-name a:visited
{
    text-decoration: none;
}

#site-name a:hover
{
    text-decoration: underline;
}
/****************************************************
* End of Header Content CSS
****************************************************/



/****************************************************
* Main Container starts here
****************************************************/

/* Container Header */
.mainContainerHeader
{
    height: 32px;
    border-bottom: 1px solid #cbcbcb;
    background-color: #eaeaea;
}

.mainContainerHeader h1, .mainContainerHeader h2, .mainContainerHeader h3, .mainContainerHeader h4, .mainContainerHeader h5, .mainContainerHeader h6
{
    background-color: #f1f1f1;
    font-family: georgia, verdana;
    font-size: 1.1em;
    padding: 5px 15px 4px 10px;
    text-align: left;
    color: #303030;
    margin-top: 2px;
    margin-left: 1px;

    position: relative;

    float: left;
    border-bottom: 1px solid #ebeae5;
    border-left: 1px solid #ebeae5;
    border-right: 1px solid #ebeae5;
}

#mainContainer
{}
    .hasMainContainerTheme_BlueSilver
    {
        background: transparent url(/images/themes/blue_silver/blue_noise_bg.png) repeat-x;
    }

#mainContainerContent
{
    padding: 12px 10px;
}

.fullWidth
{
    width: 972px;
}

#mainContainerInner
{
    width: 972px;
    margin: 0 auto;
}
    .hasMainContainerInnerTheme_BlueSilver
    {
        background: #FFF9E9 url(/images/themes/blue_silver/container_body_bg.png) repeat-y left top;
    }

#mainContainerInnerContent
{
}
    .hasMainContainerInnerContentTheme_BlueSilver
    {
        background: transparent url(/images/themes/blue_silver/container_top_bg.png) no-repeat left top;
    }

.centeredContainer
{
        margin: 0 auto;
}



/************************************************************
* Container css start here
************************************************************/
#container
{
    padding: 0 10px 15px;
    color: #000;
}
    .hasContainerTheme_BlueSilver
    {
        background: transparent url(/images/themes/blue_silver/container_bottom_bg.png) no-repeat left bottom;
    }
    
#containerInner
{}
    .hasContainerInnerTheme_BlueSilver
    {}

#content
{
	float: left;
	margin: 0 7px;
	width: 460px;
}
	
/************************************************************
* Css for news list (for showing a list of news)
************************************************************/
.newsContainer
{
    padding: 7px;
    margin-bottom: 15px;
}

    .hasNewsContainerTheme_OrangeWhite
    {
        border: 1px solid #f1e0ab;
        -moz-border-radius-bottomleft: 7px;
        -moz-border-radius-bottomright: 7px;
        -moz-border-radius-topleft: 7px;
        -moz-border-radius-topright: 7px;
        background: #f6f0dc url(/images/themes/orange_white/news/container_bg_orange.png) repeat-x bottom left;
    }

    .hasNewsContainerTheme_OrangeWhite h3
    {
        border: 1px solid #eedba2;
        -moz-border-radius-bottomleft: 4px;
        -moz-border-radius-bottomright: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
    }

    .hasNewsContainerTheme_OrangeWhite h3 a
    {
        color: #4da7c1;
        background-color: #f2e7c5;
        display: block;
        padding: 4px;
        text-decoration: none;
    }

    .hasNewsContainerTheme_OrangeWhite h3 a:hover
    {
        background-color: #fff3c8;
    }

    .hasNewsContainerTheme_OrangeWhite div.newsDetails
    {
        border: 1px solid #edd797;
        background-color: #FFF;
        -moz-border-radius-bottomleft: 7px;
        -moz-border-radius-bottomright: 7px;
        -moz-border-radius-topleft: 7px;
        -moz-border-radius-topright: 7px;
        padding: 8px 15px 15px;
        margin-top: 5px;
    }

    .hasNewsContainerTheme_OrangeWhite p.newsInfo
    {
        text-align: right;
        font-size: 1em;
        color: #747474;
    }

    .hasNewsContainerTheme_OrangeWhite p.newsInfo span
    {
        color: #349cbc;
    }

    .hasNewsContainerTheme_OrangeWhite p.newsBody
    {
        margin-top: 10px;
        font-size: 1.1em;
        color: #747474;
    }

/* Flash messages */
p.notice, .error_list li
{
    padding: 9px 45px;
    font-family: Trebuchet MS, georgia;

    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
    .hasNoticeTheme_Blue
    {
        background: #e3f2f9 url(/images/themes/blue_silver/notice_blue.png) no-repeat 10px 7px;
        border: 1px solid #c8e2f1;
        color: #50a8c0;
    }

    .hasNoticeTheme_Yellow
    {
        background: #f8f0c2 url(/images/themes/blue_silver/notice_yellow.png) no-repeat 10px 7px;
        border: 1px solid #ebe6a2;
        color: #cebf00;
    }

    .hasNoticeTheme_Red
    {
        background: #fbe9e7 url(/images/themes/blue_silver/notice_red.png) no-repeat 10px 7px;
        border: 1px solid #facecd;
        color: #df9f84;
    }

    .hasNoticeTheme_Green
    {
        background: #d3e9ab url(/images/themes/blue_silver/notice_green.png) no-repeat 10px 7px;
        border: 1px solid #d3e9ab;
        color: #4c9700;
    }


#userInfo
{
    position: absolute;
    right: 0;
    top: 0;
}

#login
{
    position: absolute;
    left: 10px;
    top: 0;
}

a.tab
{
    text-decoration: none;
    display: block;
    padding: 11px 24px;
    background-color: #f1f1f1;
    color: #767676;

    border: 1px solid #cdcdcd;

    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;

    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

a.tab:hover
{
    background-color: #e3e3e3;  
}

.hasSingleBorder
{
    border-left: 1px solid #d4d3d5;
    border-bottom: 1px solid #d4d3d5;
    border-top: 1px solid #d4d3d5;
    border-right: 1px solid #d4d3d5;

    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomright: 3px;
   
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;

    color: #606060;
    font-size: 1em;

    padding: 3px;

    width: 115px;
}

/* for login box in the backend */
#ctr .login
{
    width: 429px;
}

.login
{
    width: 250px;
}
.login ul
{
    border-right: 1px solid #cacaca;
    float: left;
    width: 60%;
}

.login #signin_password
{
    color: #359ebc;
}

.login div.cont form ul li
{
    background-image: none;
    border-bottom: none;
}

.login p
{
    float: right;
    width: 37%;
}

.login p span.remember_me
{
    padding: 11px 0 11px 0;
    display: block;
    border-bottom: 1px solid #d8d8d8;
}

.login p span.remember_me label
{
    color: #ababab;
}

.login p span.submit_login
{
    padding: 11px 0 3px 0;
    display: block;
    text-align: center;

    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.login p span.submit_login:hover
{
    background-color: #e3e3e3;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;

    cursor: pointer;

    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;

    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

/* overridding default padding defined in container css */
#login .login div.cont
{
    padding: 7px 8px 10px;
}



/* Browse (taken from beanstalk)
------------------------------ */

/* Browser path */

.browser-path {
	position: relative;
	height: 32px;
	border: 1px solid #EEE;
	border-bottom-color: #CCC;
	background: #F9F9F9 url(/images/themes/blue_silver/browser/browser-path.gif) repeat-x 0 0;
	overflow: hidden;
}
	.browser-path a,
	.browser-path strong {
		position: relative;
		float: left;
		margin-left: -8px;
		color: #666;
		font-size: .85em;
		text-shadow: #FFF 1px 1px 0px;
		text-decoration: none !important;
	}
	.browser-path a {
		cursor: pointer;
	}
		.browser-path a span,
		.browser-path strong span {
			float: left;
			padding: 8px 5px 10px 15px;
			background: url(/images/themes/blue_silver/browser/browser-arr-l.gif) no-repeat 0 0;
		}
		.browser-path a:hover span,
		.browser-path strong span {
			padding-top: 8px;
			padding-bottom: 8px;
			background-position: 0 -32px;
		}

		.browser-path a b,
		.browser-path strong b {
			float: left;
			width: 9px;
			height: 32px;
			background: url(/images/themes/blue_silver/browser/browser-arr-r.gif) no-repeat 100% 0;
		}
		.browser-path a:hover b,
		.browser-path strong b {
			background-position: 100% -32px;
		}

		.browser-path strong.selected span { background: url(/images/themes/blue_silver/browser/browser-arr-l.gif) no-repeat 0 0; }


.action_list
{
    list-style: none;
    margin-top: 15px;
}

/* News component */
.aNews
{
    padding: 20px;
}

.aNews h3.title
{
    text-align: left;
}

.aNews p.metas
{
    text-align: right;
}

.aNews div.body
{
    padding: 20px;
    border: 1px solid;
}

	.hasANewsTheme_OrangeWhite
	{
	    background: #FFF8E9 url(/images/themes/orange_white/news/container_bg_orange_2.png) repeat-x left bottom;
	    border: 1px solid #DDD8CA;
	    
	    -moz-border-radius-bottomleft: 5px;
	    -moz-border-radius-bottomright: 5px;
	    -moz-border-radius-topleft: 5px;
	    -moz-border-radius-topright: 5px;
    
	    -webkit-border-top-left-radius: 5px;
	    -webkit-border-top-right-radius: 5px;
	    -webkit-border-bottom-left-radius: 5px;
	    -webkit-border-bottom-right-radius: 5px;
	}
	
	.hasANewsTheme_OrangeWhite h3.title
	{
	    color: #4da7c1;
	    font-size: 1.4em;
	    font-family: trebuchet ms;
	}
	
	.hasANewsTheme_OrangeWhite div.body
	{
	    border: 1px solid #4da7c1;
	    -moz-border-radius-bottomleft: 5px;
	    -moz-border-radius-bottomright: 5px;
	    -moz-border-radius-topleft: 5px;
	    -moz-border-radius-topright: 5px;
    
	    -webkit-border-top-left-radius: 5px;
	    -webkit-border-top-right-radius: 5px;
	    -webkit-border-bottom-left-radius: 5px;
	    -webkit-border-bottom-right-radius: 5px;

            background-color: #fff;
	}
	
	.hasANewsTheme_OrangeWhite div.body p
	{
	    font-family: verdana;
	}
	
	.hasANewsTheme_OrangeWhite div.body p
	{
	    color: #707070;
	}
	
	.hasANewsTheme_OrangeWhite p.metas
	{
	    font-family: Trebuchet Ms;	
	}
	
	.hasANewsTheme_OrangeWhite p.metas span.author
	{
	    color: #4da7c1;
	}
	
	.hasANewsTheme_OrangeWhite p.metas
	{
		color: #707070;	
	}
	
/* news comment */
.aComment
{
	margin: 12px 0;
	padding: 10px 15px;
	border: 1px solid;
	overflow: hidden;
	border: 1px solid #edd797;
	
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;

	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	
	background: transparent url(/images/themes/orange_white/news/comment_bg.png) repeat-x left top;
}

	.aComment div.metas
	{
		float: left;
		width: 42%;
		font-family: Trebuchet MS, georgia;
		font-size: 1.2em;
		position: relative;
	}

		.aComment div.metas p.author-postTime
		{
			padding: 12px;
			background-color: #f2e7c5;
			border: 1px solid #edd797;
			color: #707070;
		}
		
		.aComment div.metas span.author-pointer
		{
			background: transparent url(/images/themes/orange_white/news/commentby_arrow.png) no-repeat left top;
			left: 240px;
			top: 43px;
			position: absolute;
			padding: 25px;
		}

			.aComment div.metas p.author-postTime span.author
			{
				color: #93c1c0;
			}
	
			.aComment div.metas p.author-postTime span.postTime
			{}

		.aComment div.metas h4.title
		{
			margin-top: 27px;
			padding: 12px;
			background-color: #f2e7c5;
			color: #93c1c0;
			border: 1px solid #edd797;
		}
	
	.aComment div.body
	{
		background: #FFF url(/images/themes/orange_white/news/qoute_start.png) no-repeat 17px 10px;
		padding: 18px 20px 18px 50px;
		background-color: #fff;
		border: 1px solid #edd797;
		
		float: right;
		width: 48%;
		
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
	
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
	}
	
		.aComment div.body p
		{
			color: #888888;
			font-size: 1.3em;
			background: #FFF url(/images/themes/orange_white/news/qoute_end.png) no-repeat right bottom;
			padding: 3px 10px 15px;
		}
		
		

/* ajax form embed */
.formContainer .form_list
{
	background-color: #FBF5E5;
	border: 1px solid #FFE7A8;
	padding: 0px 5px 5px 5px;
	
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;

	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.formContainer .form_list .form_list_item
{
	background-color: #F3EDDC;
	border: 1px solid #ECE3C9;
	
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;

	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	
	margin-top: 10px;
}

.formContainer .form_list .form_list_item .label_box
{
	float: left;
	width: 30%;
}

.formContainer .form_list .form_list_item .inp_box
{
	float: left;
	width: 65%;
}

.formContainer .form_list .form_list_item .label_box label
{
	width: auto;
	padding: 3px;
	margin: 0;
}

/* Ajax add new button */
.formContainer .form_list .form_list_item .inp_box div.help
{}

.formContainer .form_list .form_list_item .inp_box div.help .amButton
{
	width: auto;
	padding: 8px 18px 10px 45px;
	font-family:georgia;
	font-size:1.1em;
}

/* Ajax remove button */
.formContainer .form_list .form_list_item .label_box label .amButton
{
	width: auto;
	padding: 8px 18px 10px 45px;
	font-family:georgia;
	font-size:1.1em;
}



/* jQuery lightBox plugin - Gallery style */
.gallery
{
	margin: 20px 10px 10px 20px;	
}

.gallery ul { list-style: none; }
.gallery ul li { display: inline; }
.gallery ul img {
	border: 5px solid #F7E4BA;
	border-width: 5px 5px 20px;
}
.gallery ul a:hover img {
	border: 5px solid #6D83C4;
	border-width: 5px 5px 20px;
	color: #fff;
}
.gallery ul a:hover { color: #fff; }

#prevBtn, #nextBtn
{
	margin:0;
	padding:0;
	display:block;
	overflow:hidden;
	text-indent:-8000px;
}

/********************************************************
 *Easy slider
 *******************************************************/

.featuredNewsContainer
{
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 940px;           /* full possible width */
    background-color: #dfdfdf;
    /*background: url("/images/themes/blue_silver/blue_noise_bg.png") repeat scroll 0 0 transparent;*/
    height: 241px;
    padding: 0 5px 5px 0px;
}

.featuredNewsContent
{
    background: transparent;
    margin-bottom: 2em;
    height: 241px;
}

.slider
{
    background: transparent;
    float: left;
    width: 685px;
    height: 241px;
}

.slider ul, .slider li
{
    background: transparent;
    margin:0;
    padding:0;
    list-style:none;
}

.slider li
{
    /*
            define width and height of list item (slide)
            entire slider area will adjust according to the parameters provided here
    */
    width: 685px;
    height: 241px;
    overflow: hidden;
}

.slider li h2
{
	background-color: #e4e2e5;
	padding: 5px;
	color: #000;
	font-size: 1.2em;
}

.slider li p
{
	background-color: #f7f6f8;
	padding: 5px;
	color: #000;
	overflow: hidden;
}

.slider li p img
{
	float: left;
	padding-right: 5px;
}

#prevBtn, #nextBtn
{ 
    display: block;
    width: 30px;
    height: 77px;
    position: absolute;
    left: -30px;
    top: 71px;
    z-index: 1000;
}

#nextBtn
{ 
    left:696px;
}

#prevBtn a, #nextBtn a
{  
    display:block;
    position:relative;
    width:30px;
    height:77px;
    background:url(../images/btn_prev.gif) no-repeat 0 0;
}

#nextBtn a
{ 
    background:url(../images/btn_next.gif) no-repeat 0 0;
}


/* numeric controls */

ol#controls
{
    padding: 0;
    margin: 0;
    
    float: right;
    width: 244px;

    overflow: auto;
    height: 241px;
}

ol#controls li
{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 35px;
}

ol#controls li a
{
    display: block;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    background: #DAF3F8;
    color: #555;
    padding: 0 10px;
    text-decoration: none;
    overflow: hidden;
}

ol#controls li.current a
{
    background: #5DC9E1;
    color: #fff;
}

/* Advertisement */
.anAdvert
{
	width: 150px;
	float: right;
	overflow: hidden;
}

.anAdvert img
{
	display: block;
}

.hasAdvert
{
	width: 770px;
	float: left;
	overflow: hidden;
}