/* Skeleton for breadcumb */
ol.breadcumb
{
    overflow: hidden;
}

ol.breadcumb li
{
    height: 35px;
    list-style: none;
    float: left;
    border-top: 1px solid #dcdcda;
    border-bottom: 1px solid #d5d4cf;
    overflow: hidden;
    margin-top: 1px;
}
    /* blue_silver theme */
    ol.breadcumb-blue_silver
    {}

    ol.breadcumb-blue_silver li
    {
        background-color: #f6f4f5;
    }

    ol.breadcumb-blue_silver li a
    {
        background: transparent url(/images/themes/blue_silver/breadcrumb/item_arrow_bg.png) no-repeat left top;
        display: block;
        height: 35px;
        padding-left: 30px;
        padding-right: 20px;
        text-decoration: none;
        font-family: Tahoma, Verdana;
        font-size: .9em;
        padding-top: 7px;
        text-align: center;
        color: #606060;
    }

    ol.breadcumb-blue_silver li.first a
    {
        background: none;
    }

    ol.breadcumb-blue_silver li a:hover
    {
        text-shadow: 1px 1px 1px #FFE;
        text-decoration: underline;
    }