/***********************************************************
* Common Core CSS for aLeftContent, aRightContent
************************************************************/
.aRightContent, .aLeftContent
{
    padding-top: 33px;
    position: relative;
    font-size: 12px;
}

/* for safari */
@media screen and (-webkit-min-device-pixel-ratio:0){
    .aRightContent { padding-top: 32px; }
    .aLeftContent { padding-top: 32px; }
    .aRightContent h3, .aLeftContent h3 { height: 15px !important }
}

.aRightContent div.cont, .aLeftContent div.cont
{
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;

    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;

    padding: 14px 8px 10px 8px;
}

.aRightContent h3, .aLeftContent h3
{
    height: 16px;
    font-family: georgia;
    font-weight: normal;
    font-size: 1em;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;

    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 7px;

    position: absolute;
    top: 0;
}

.aRightContent div.cont ul li, .aLeftContent div.cont ul li
{
    padding: 7px 45px 7px 8px;
    list-style: none;
}

.aRightContent div.cont ul li a.link, .aLeftContent div.cont ul li a.link
{
    text-decoration: none;
    font-size: 1em;
    text-align: right;
    display: block;
}

.aRightContent div.cont p a.link, .aLeftContent div.cont p a.link
{
    font-size: 1em;
    text-decoration: none;
    text-align: right;
    display: block;
    padding: 10px 5px 3px 5px;
}

.aRightContent a.link:hover, .aLeftContent a.link:hover
{
    text-decoration: underline;
}

/***********************************************************
* CSS for aRightContent
************************************************************/
.aRightContent div.cont
{
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}

.aRightContent h3
{
    right: 0;
}

.aRightContent div.cont p {}

/***********************************************************
* CSS for aLeftContent
************************************************************/
.aLeftContent div.cont
{
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}

.aLeftContent h3
{
    left: 0;
}

.aLeftContent div.cont ul {}
.aLeftContent div.cont p {}

/***********************************************************
* Theme for aLeftContent and aRightContent
************************************************************/

    /***********************************************************
    * Theme: Silver
    ************************************************************/
    .hasSilverTheme
    {
    }

    .hasSilverTheme div.cont
    {
        background-color: #eeeeee;

        border-left: 1px solid #cbcbcb;
        border-right: 1px solid #cbcbcb;
        border-top: 1px solid #cbcbcb;
        border-bottom: 1px solid #cbcbcb;
    }

    .hasSilverTheme h3
    {
        background-color: #eeeeee;
        font-family: tahoma, Trebuchet MS;
        border-left: 1px solid #cbcbcb;
        border-right: 1px solid #cbcbcb;
        border-top: 1px solid #cbcbcb;
    }

    .hasSilverTheme div.cont ul li.hasBackArrow
    {
        background: #eeeeee url(/images/themes/blue_silver/back_arrow.png) no-repeat right center;
    }

    .hasSilverTheme div.cont ul li.hasForwardArrow
    {
        background: #eeeeee url(/images/themes/blue_silver/forward_arrow.png) no-repeat right center;
    }

    .hasSilverTheme div.cont ul li.hasBorderBottom
    {
        border-bottom: 1px solid #d8d8d8;
    }

    .hasSilverTheme div.cont ul li
    {
        color: #383838;
    }

    .hasSilverTheme div.cont ul li a.link
    {
        text-decoration: none;
        color: #383838;
        font-family: tahoma;
        font-size: 1em;
    }

    .hasSilverTheme div.cont p
    {
    }

    .hasSilverTheme div.cont p a.link
    {
        text-decoration: none;
        color: #383838;
        font-family: tahoma;
        text-align: right;
        font-size: 1em;
    }

    /***********************************************************
    * Theme: CremeYellowTheme
    ************************************************************/
    .hasCremeYellowTheme
    {
    }

    .hasCremeYellowTheme div.cont
    {
        background-color: #fbf5e5;
        border: 1px solid #d8d2c4;
    }

    .hasCremeYellowTheme h3
    {
        color: #7e7e7e;
        background-color: #fbf5e5;
        border-left: 1px solid #d8d2c4;
        border-right: 1px solid #d8d2c4;
        border-top: 1px solid #d8d2c4;
        font-size: 1.3em;
        color: #41a2bf;
        font-style: italic;
        font-weight: bolder;
    }

    .hasCremeYellowTheme div.cont ul li.hasBackArrow {}

    .hasCremeYellowTheme div.cont ul li.hasForwardArrow {}

    .hasCremeYellowTheme div.cont ul li.hasBorderBottom
    {
        border-bottom: 1px solid #f2ecde;
    }

    .hasCremeYellowTheme div.cont ul li, .hasCremeYellowTheme div.cont ul li label
    {
        color: #606060;
    }

    .hasCremeYellowTheme div.cont ul li label
    {
        font-size: 1.3em;
        padding-top: 5px;
    }

    .hasCremeYellowTheme div.cont ul li input, .hasCremeYellowTheme div.cont ul li select, .hasCremeYellowTheme div.cont ul li textarea
    {
        border: 1px solid #e5e2dd;
        padding: 10px 8px;
        font-size: 1.3em;
        color: #616161;
    }

    .hasCremeYellowTheme div.cont ul li select
    {
        padding: 5px 8px;
    }

    .hasCremeYellowTheme div.cont ul li a.link
    {
        text-decoration: none;
        color: #878684;
        font-family: tahoma;
        font-size: 1em;
    }