/* Skeleton for navigation */
#mainNavigation { overflow: hidden; }

#mainNavigation ul { }

#mainNavigation
{
    padding: 0 8px;
}

#mainNavigation li
{
    float: left;
    list-style: none;
}

#mainNavigation li a
{
    display: block;
    height: 100%;
    margin: 0 5px 0 7px;
    padding: 11px 10px;
}
    /* blue_silver theme */
    .hasMainNavigationTheme_BlueSilver ul li
    {
        background: transparent url(/images/themes/blue_silver/navigation/menu_item_seperator.png) no-repeat left center;
    }

    .hasMainNavigationTheme_BlueSilver ul li a
    {
        color: #D4D4D4;
        font-size: 0.9em;
        text-decoration: none;
    }

    .hasMainNavigationTheme_BlueSilver ul li a:hover, .hasMainNavigationTheme_BlueSilver ul li a.current
    {
        background: #D4D4D4 url(/images/themes/blue_silver/navigation/menu_item_selected_bg.png) repeat-x left bottom;
        color: #23376F;
    }