.amKeyboardSwitcherContainer
{
    position: relative;
}
.amKeyboardSwitcherContainer .amKeyboardSwitcherLinkContainer
{
    display: none;
    position: absolute;
    width: 100%;
}

.amKeyboardSwitcherContainer .amKeyboardSwitcherLinkContainer a {
    overflow: hidden;
}
.amKeyboardSwitcherContainer .amKeyboardSwitcherLinkContainer a img
{
    border: none;
}